bs4
textract
numpy
pandas
requests
tqdm
nltk
quandl
scikit-plot
seaborn
sklearn
transformers
wordcloud
xgboost
networkx
torch_geometric
peft
ipywidgets
sentencepiece
huggingface_hub
xformers 
bitsandbytes
accelerate
loralib
appdirs
streamlit
datasets
fire
streamlit_chat
bitsandbytes
message